apiVersion: v1
kind: ConfigMap
metadata:
  name: react-nginx-config
data:
  default.conf: |
    server {
      listen 80;
      server_name localhost;

      location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri /index.html;
      }

      location /api/ {
        proxy_pass http://127.0.0.1:59001;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
      }
    }
